<!DOCTYPE html>

<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

<head>
  <meta charset="utf-8" />

  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=device-width" />

  <title><%= ENV['WEBSITE_NAME'] %> :: Admin</title>

  <%= stylesheet_link_tag 'admin', :media => 'all' %>

  <!-- Custom Modernizr for Foundation -->
  <%#= javascript_include_tag "foundation/modernizr.foundation.js" %>

  <%= csrf_meta_tags %>

  <%= javascript_include_tag 'admin' %>
  <%= setup_browserid %>
</head>

<body>
<% if authenticated? %>
  <header class='chr-header'>
    <div class='fixed'>
      <nav class='top-bar'>
        <section>
          <ul class='left chr-main-menu' id='main_menu'>
            <li class='active'>
              <a class='dg-home-link' href='#'><i class='icon-home'></i></a>
            </li>
          </ul>

          <ul class='right'>
            <li>
              <%= link_to browserid_config.logout.path, class: :browserid_logout do %>
                <%= image_tag current_user.avatar_url(50) %> Logout
              <% end %>
            </li>
          </ul>
        </section>
      </nav>
    </div>
  </header>

  <div id='character'></div>

  <%= render 'character/admin/javascript' %>
<% else %>
  <section class='chr-login'>
    <div class='chr-login-message'>
      <p>Welcome to <strong>DryWired</strong> administration spot,<br>
        <%= link_to browserid_config.login.path, class: :browserid_login do %>
          <i class='icon-user'></i>
          <strong>Login with Persona</strong>
        <% end %>
      </p>
    </div>
  </section>
<% end %>

</body>
</html>
